.project{
	position:relative;
	border: solid 1px #000;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom:10px;
	min-height:220px;
}
.project .title{
	font-size:22px;
	font-weight:bold;
	margin:0px 5px 0px 0px;
	padding:0px 5px 0px 0px;
}
.project .title a:link, .project .title a:visited{
	text-decoration:none;
	margin:0px 0px 0px 0px;
}
.project .info{
	border-top: dashed 1px #000;
	border-bottom: dotted 1px #000;
	font-size:12px;
}
.project .info strong{
	font-size:12px;
}
.project .link{
	position:absolute;
	bottom:0px;
	text-align:right;
	width:100%;
	right:5px;
	border-top: dotted 1px #000;
	margin-top:5px;
}
.project .image{
	float:left;
	max-width:100px;
	border:none;
	margin-top:20px;
	margin-right:1px;
}